@use"../utils/mixins";
@use"../utils/variables.scss";

#section4{
    background: variables.$color-secondary;
    margin-top: 3rem;
    padding: 1rem;
}
.indication{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 24px;
    color: variables.$color-primary;
    text-align: center;
    align-items: center;
}
.img-contact{
    position: relative;
    width: 325px;
    height: 325px;
    background-color: variables.$color-primary;
    @media (max-width: 576px){
        width: 250px;
        height: 250px;
        margin-bottom: 1rem;
    }
    @media (max-width: 768px){
        margin-bottom: 1rem;
    }
    
    img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 1rem;
        left: -1rem;
        box-shadow: 0 0 15px #333;
        @media (max-width: 576px){
            top: .5rem;
            left: -.5rem;
        }
    }
}
.contacts-container{
    font-size: 24px;
    color: variables.$color-primary;
    text-align: center;
    align-items: center;
    position: relative;
    @media (max-width: 768px){
       font-size: 15px;
    }
    #modal{
        background-color: variables.$color-primary;
        // opacity: 0.9;
        inset: 0;
        width: 100%;
        height: 100%;
        color: variables.$color-secondary;
        border-radius: 15px;
        padding: 1rem;
        position: absolute;
        @media (max-width: 768px){
            padding: 0;
         }
        .btn-close-modal{
            float: right;
            width: 1em;
            height: 1em;
            padding: .5rem;
            color: variables.$color-primary;
            background-color: variables.$color-secondary ;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .whatsapp, .tel{
            // background-color: variables.$color-secondary ;
            padding: .5rem;
            border-radius: 10px;
            color: variables.$color-secondary;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            @media (max-width: 768px){
                gap: 0;
             }
            .title-cntct{
            box-shadow: inset 20px 20px 60px #1f3b3d,
                        inset -20px -20px 60px #294f53;
                background-color: variables.$color-secondary;
                border-radius: 25px;
                padding: 0.5rem;
                color: variables.$color-primary;
                width: 60%;
            }
        }
        .tel{
            @media (max-width: 768px){
                color: variables.$color-primary;
            }
        }
    }
    .list-inline{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        font-size: 3rem;
        margin-top: 5rem;
        @media (max-width: 768px){
             grid-template-columns: repeat(4, 1fr);
             gap: 1rem;
             margin-top: 2rem;
        }
        @media (max-width: 576px){
            font-size: 1.5rem;
       }
        li a{
            color: variables.$color-primary;
        }
    }
}

.fa-icons:hover{
    animation: icon 0.8s infinite;
}

@keyframes icon {
    from{
        transform: scale(1.1);
        opacity: 1;
    }
    to{
        opacity: 0.9;
        transform: scale(1);
    }
}